<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<th:block th:replace="~{layout :: common-head('Bruine - Mentions légales')}"/>
</head>

<body>
<header th:replace="~{layout :: header-and-nav}">
</header>
<main class="container">
	<section class="section">
		<h1 class="title">Mentions légales</h1>
		<div class="content">
			<p>TODO.</p>
		</div>
	</section>
</main>
<th:block th:replace="~{layout :: footer-and-js}">
</th:block>
</body>

</html>